/* line 1, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/Owen/Programming/ruby/j_neg_results/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
   /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

html{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:lighter;
}
body{
    margin:0px;
    overflow-y:hidden;
    background-color:#424242;
}

a{    
    font-family: "HelveticaNeue", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:lighter;
}
a:hover{
    background:none;
}
/*temporary*/

#container{
    width:100%;
    height:90vh;
    position:relative;
    overflow-y:scroll;
    background-color:#424242;
}
#container-1{
    position:absolute;
    overflow-x:hidden;
    width:100%;
    height:100%;
}

#bottom-padding{
    height:100px;
}

#abstracts{
    width:86%;
    margin-left:-5px;
    height:100%;
    display:inline-block;
    overflow-y:scroll;
    background-color:#424242;
}
.subject-abstracts{
    width:86%;
    margin-left:-5px;
    height:100%;
    overflow-y:scroll;
    background-color:#424242;
    display:block;
    margin:0 auto;
}
#sidebar{
    width:14%;
    height:100%;
    margin:none;
    margin-top:-2px;
    display:inline-block;
    overflow-y:hidden;
    background-color:#424242;
    padding:10px 0px 0px 10px;

}
#header{
    font-size:2em;
    min-height:9vh;
    text-align:center;
    overflow:hidden;
    background-color:#232323;
}

#search-bar{
    width:100%;
    overflow-y:hidden;
    white-space:nowrap;
    padding-left:10px;
    padding-bottom:10px;
    background-color:#3e527f;
    -webkit-box-shadow: 0px 26px 27px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 26px 27px -5px rgba(0,0,0,0.42);
    box-shadow: 0px 26px 27px -5px rgba(0,0,0,0.42);
}


#search-terms{
    width:95%;
    display:inline-block;
    float:left;
    white-space:nowrap;

}


.search-fields{
    display:inline-block;
    margin:20px 5px 5px 5px;
}

.search-box{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width:150px;
    font-size:10pt;
    border-radius: 0px;
    border:none;
    background-color:#424242;
    color:#dcdcdc;
}

#filler{
    height: 30px;
}
#logo{
    position:relative;
    float:left;
    margin-top:-1%;

}

#search{
    display:block;
}

#login {
    float:right;
    margin-right: 20px;
    margin-top:20px;
}
.second-search{
    display:inline-block;
}

#field-heading{
    color:#dcdcdc;
    text-align:center;
    margin-bottom:20px;
}

.subject-text{
    margin-top:-3px;
}

.field{
    -webkit-appearance: none;
    -moz-appearance:none;
    width:75px;
    border-radius: 0px;
    margin:0;
    margin-top:3px;
    margin-left:37px;
    border-style: solid;
    border: 1px;
    border-color:#c0c0c0;
    background-color:#424242;
    color:#dcdcdc;

}
.operator-holder{
    display:inline-block;
    position:relative;
    top:-22px;
    margin-right:5px;
}
.operator{
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    margin:0;
    width:75px;
    border-radius: 0px;
    border-style: solid;
    border: 1px;
    border-color:#c0c0c0;
    background-color:#424242;
    color:#dcdcdc;
}

.half{
    opacity:0.5;
}

.large-text{
    font-size:30pt !important;
}
#submit{
    font-size:30pt;
    width:10%;
    display:inline-block;

}
#search-heading{
    font-size:15pt;
}
.entry{
    margin:20px auto;
    max-width:85%;
    background-color:white;
    padding:1in;
    -webkit-box-shadow: 0px 0px 37px 9px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 37px 9px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 37px 9px rgba(0,0,0,0.27);

}
.divider{
    height:1px;
    background-color:#b9b9b9;
    width:60%;
    margin:10px auto;
}
.entry-info{
    text-align:center;
}

.subject-link{
    font-size:15pt;
    color:#337ab7;
    margin-left:10px;
}

#search-link{
    display:inline;
}
#modal-background{
    background-color:black;
    opacity:.65;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20;
}
#modal{
    width:500px;
    height:310px;
    position:absolute;
    top:50%;
    left:50%;
    background-color:#424242;
    margin-top:-155px;
    margin-left:-250px;
    opacity:1.0;
    z-index:21;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
    text-align:center;
}

.login-field, .login-field[placeholder]{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width:500px;
    height:60px;
    font-size:20pt;
    border-radius: 0px;
    border:none;
    background-color:#424242 !important;
    color:#337ab7 !important;
    margin:0 auto;
    text-align:center;
    outline: none;

}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #424242 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #337ab7;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px #424242 inset;
    -webkit-text-fill-color: #337ab7;
}

#login-submit{
    font-size:70px;
}



#login-header{
    width:100%;
    text-align:center;
    color:#424242;
    font-size:50pt;
    background-color:white;
}
/*#login-divider{
    width:100%;
    height:3px;
    background-color:white;
    margin:0 auto;
}*/

#splash-image{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-713px;
    margin-left:-1185px;
    width:2141px;
    height:1602px;
}
#splash-header{
    position:absolute;
    top:0;
    left:0;
    height:30%;
    width:100%;
    background-color:black;
    opacity:0.9;
}
#splash-head-text{
    padding-top:5vh;
    position:absolute;
    top:0;
    left:0;
    height:30%;
    width:100%;
    color:white;
    text-align:center;
    font-size:20pt;
    white-space: nowrap;
    line-height: 10vh;
}
#splash-foot-text{
    padding-top:10vh;
    position:absolute;
    bottom:0;
    left:0;
    height:30%;
    width:100%;
    color:white;
    text-align:center;
    font-size:30px;
}
#splash-content{
    position:absolute;
    bottom:0;
    left:0;
    height:30%;
    width:100%;
    background-color:black;
    opacity:0.7;
}
#splash-title{
    position:absolute;
    top:50%;
    margin-top:-50px;
    left:50%;
    margin-left:-500px;
    height:100px;
    width:1000px;
}

#abstract-field{
    margin:0 auto;
    display:block;
    border:none;
    font-size:14pt;
    font-weight:normal;
    width:90%;
    min-height:500px;

}
#abstract-field:focus{
    outline: none; 

}
.submission-field{
    border:none;
}
.submission-field:focus{
    outline: none; 
}
#title-field{
    font-size:25pt;
    text-align:center;
    width:90%;
}
.author-field{
    width:200px;
    margin-left:15px;
    font-size:18pt;
}
#submit-submission{
    font-size:20;
    text-align:center;
}

